{% extends "base.html.twig" %}


{% block body %}

    <div class="container" align="center">
        {{ form_start(form) }}
        <div class="row">
            <div class="custom-post col-lg">
                <h1>{{ 'post.modification.title' | trans }}</h1>
                <div class="input-field">
                    {{ form_widget(form.title, {'attr': {'value': post.title}}) }}
                </div>

                <hr>
                <h1>{{ 'post.modification.content' | trans }}</h1>
                <div>
                    {{ form_widget(form.content, {'attr': {'value': post.content}}) }}
                </div>
                <div class="card-footer">
                    {{ form_widget(form.edit) }}
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}


