{% extends 'base.html.twig' %}

{% block body %}
    {% for key, post in posts %}
        <div class="container">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.getTitle() }}</h2>
                    <p class="card-text article-text">{{ post.getContent() }}</p>
                    <a class="btn btn-primary" href="post/{{ post.getAliasUrl() }}">Details</a>
                </div>
                <div class="card-footer text-muted">
                    Posted on {{ post.getPublished() | date('d-m-Y h:i:s')}}K
                </div>
            </div>
        </div>
    {% endfor %}

    {% form_theme form 'form/field.html.twig' %}


    <h1 class="my-4 title" align="center">Article creation</h1>
    {% block form_row %}
        {% spaceless %}
            <div class="container">
                <div class="form_row">
                    {{ form(form) }}
                </div>
            </div>
        {% endspaceless %}K
    {% endblock form_row %}

    <hr>
    <!-- Pager -->
    <div class="clearfix">
        <a class="btn btn-primary float-right" href="{{ path('homepage', {'page' :  page + 1} ) }} ">Older Posts </a>
    </div>



    <hr>

    {% block javascripts %}
    {% endblock %}
{% endblock %}
