{% extends "base.html.twig" %}

{% block title %}AppBundle:Blog:post{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="custom-post col-lg">
            <h1>
                {{post[0].title}}
            </h1>
            <hr>
            <p>
                {{ post[0].content }}
            </p>
            <span>{{ 'Post on'|trans }} {{ post[0].published | date }}</span>

            <a href="/1" id="custom-back">
            <i class="fas fa-arrow-left"></i>{{ 'Back' | trans }}
            </a>

            <div class="card-footer">
                {% if  user  is same as (post[0].author) %}
                    <a href="/post/edit/{{ post[0].getId() }}" class="custom-button-edit btn btn-warning float-right mx-1">{{ 'Edit'|trans }}</a>
                {% endif %}

                {% if user != null %}
                    <a href="/post/delete/{{ post[0].getId() }}" class="custom-button btn btn-danger float-right mx-1">{{ 'Delete'|trans }}</a>
                {%  endif %}
            </div>
        </div>
    </div>
</div>



{% block stylesheets %}
    <style>
        .custom-post h1{
            margin-bottom: 25px;
            margin-top: 25px;
            font-weight: 500;
        }
        .custom-post hr {
            margin-bottom: 25px;
        }
        .custom-post p{
            font-size: 14px;
            margin-bottom: 25px;
        }
        .custom-post span {
            font-size: 13px;
            color: dodgerblue;
        }

        #custom-back{

            float: right;
            font-size: 20px;
            color: darkgrey;
            text-decoration: none;
        }
        #custom-back i{
            font-size: 16px;
            margin-right: 5px;
        }

        .custom-button {
             border-radius: 5px;
             border: none !important;
             padding: 8px 22px ;
             box-shadow: none !important;
             color: white;
             font-size: 14px;
             font-weight: 500;
             font-family: inherit !important;
             cursor: pointer;
             transition: 0.3s;
             vertical-align: top;
             text-align: right;
         }
        .custom-button:hover, .custom-button:focus {
            background: darkred;
        }

        .custom-button-edit {
            border-radius: 5px;
            border: none !important;
            padding: 8px 22px ;
            box-shadow: none !important;
            color: white;
            font-size: 14px;
            font-weight: 500;
            font-family: inherit !important;
            cursor: pointer;
            transition: 0.3s;
            vertical-align: top;
            text-align: right;
        }
        .custom-button-edit:hover, .custom-button-edit:focus {
            background: #ffd902;
        }


</style>
{% endblock %}

{% endblock %}
