{% extends "base.html.twig" %}

{% block title %}AppBundle:Blog:post{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="custom-post col-lg">
            <h1>
                {{post[0].title}}
            </h1>
            <hr>
            <p>
                {{ post[0].content }}
            </p>
            <span>Publié le {{ post[0].published | date }}</span>

            <a href="/1" id="custom-back">
            <i class="fas fa-arrow-left"></i>{{ 'back' | trans }}
            </a>

            <div class="card-footer">
                <a href="/post/edit/{{ post[0].getId() }}" class="btn btn-warning float-right mx-1">Edit</a>
                <a href="/post/delete/{{ post[0].getId() }}" class="btn btn-danger float-right mx-1">Delete</a>
            </div>
        </div>
    </div>
</div>



{% block stylesheets %}
    <style>
        .custom-post h1{
            margin-bottom: 25px;
            margin-top: 25px;
            font-weight: 500;
        }
        .custom-post hr {
            margin-bottom: 25px;
        }
        .custom-post p{
            font-size: 14px;
            margin-bottom: 25px;
        }
        .custom-post span {
            font-size: 13px;
            color: dodgerblue;
        }

        #custom-back{
            float: right;
            font-size: 20px;
            color: darkgrey;
            text-decoration: none;
        }
        #custom-back i{
            font-size: 16px;
            margin-right: 5px;
        }


</style>
{% endblock %}

{% endblock %}
